@import "tailwindcss";
/* src/index.css or any global CSS file */
body {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #4f46e5, #8b5cf6, #ec4899);
  margin: 0;
  font-family: "Inter", sans-serif;
}
